body {
   display: block;
   margin: 8px;
   justify-content: center;
   background-color: #fcfcfc;
}

form {
	display: grid;
  	grid-template-rows: auto auto auto;
	width: 100%;
	margin: 10px;
	justify-content: center;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 500 40px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    width: 100%;
}

h2 {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
   width: 100%;
   text-align: center;
   font: 500 60px Arial;
}

p {
	color: #363636;
	display: block;
	width: 100%;
}

button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  font: 500 40px Arial;
}

button:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 6px 10px 0 rgba(0,0,0,0.19);
}

button:disabled {
  background: #999;
  color: #555;
  cursor: not-allowed;
}