<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/reset_password.css">
</head>
<body>

<div>
    <h2>Reset Password</h2>
</div>
         
<form th:action="@{/api/reset_password}" method="post">
    <input type="hidden" name="token" th:value="${token}" />
        <p>
            <input type="password" name="password" id="password" placeholder="New password" oninput="checkPassword();"/>
        </p>         
        <p>
            <input type="password" id="password2" placeholder="Confirm new password" oninput="checkPasswordMatch();" />
        </p> 
        <button type="submit" id="button5" name="button5">Change Password</button>        
</form>


<script>
const disableButton = false; //change this value to false and the button will be clickable
const button = document.getElementById('button5');

if (disableButton) button.disabled = "disabled";

function checkPasswordMatch() {
	var x = document.getElementById("password2").value;
    if (x.value != $("#password").val()) {
        x.setCustomValidity("Passwords do not match!");
    } else {
        x.setCustomValidity("");
    }
}

function checkPassword() {
	var x = document.getElementById("password").value;
    if (x.length < 8) {
        disableButton = true;
    } else {
    	disableButton = false;
    }
    
    console.log("test me "+x)
}
</script>
</body>
</html>